:root {
	--font-family: "Open Sans", sans-serif;
	--second-family: "Montserrat", sans-serif;
	--third-family: "Inter", sans-serif;
}

body {
	color: #040000;
	background-color: #ffffff;
	font-size: 18px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

input[type='text'],
input[type='number'],
input[type='email'],
input[type='password'],
input[type='color'],
input[type='url'],
input[type='image'],
input[type='tel'],
input[type='submit'],
input[type='file'],
input[type='range'],
input[type='reset'],
input[type='button'],
input[type='search'],
button,
textarea {
	-webkit-appearance: none !important;
	outline: 0 none !important;
}


/* Заголовки використовують Montserrat */
h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
}

/* Інший текст використовує Open Sans */
p, span, div {
	font-family: 'Open Sans', sans-serif;
}

* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


.loader {
	text-transform: uppercase;
	font-family: 'Source Sans 3', sans-serif;
	font-weight: 700;
	font-style: italic;
	background-color: #A1E8B9;
	margin: 0;
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 8040;
	overflow: hidden;
	padding: 0 20px;
}

.loader > span {
	font-size: 10vw;
	font-family: 'Source Sans 3', sans-serif;
	font-weight: 700;
	font-style: italic;
	display: inline-block;
	animation: flip 2.6s infinite linear;
	transform-origin: 0 70%;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	white-space: nowrap;
}

@keyframes flip {
	35% {
		transform: rotateX(360deg);
	}
	100% {
		transform: rotatex(360deg);
	}
}

.word-spacing {
	white-space: pre;
}

.loader > span:nth-child(odd) {
	color: #E96F24;
}

.loader > span:nth-child(even) {
	color: white;
}

.loader > span:nth-child(2) {
	animation-delay: 0.3s;
}

.loader > span:nth-child(3) {
	animation-delay: 0.6s;
}

.loader > span:nth-child(4) {
	animation-delay: 0.9s;
}

.loader > span:nth-child(5) {
	animation-delay: 1.2s;
}

.loader > span:nth-child(6) {
	animation-delay: 1.5s
}

.loader > span:nth-child(7) {
	animation-delay: 1.8s
}

.loader > span:nth-child(8) {
	animation-delay: 2s
}

.loader > span:nth-child(9) {
	animation-delay: 2.3s
}

/*Header*/

.header_section {
	z-index: 8040;
	position: fixed;
	right: 0;
	top: 0;
	left: 0;
	padding: 0;
}

.header_section.fx {
	background: rgba(255, 255, 255, .2);
	-webkit-backdrop-filter: blur(4px);
	backdrop-filter: blur(4px);
}

.navbar-nav .nav-item:first-child .nav-link {
	margin-left: 33px; /* Відстань між логотипом іншим елементом */
}

.navbar-nav .nav-item:not(:last-child) .nav-link {
	margin-right: 33px; /* Відстань між елементами меню */
}

.nav-home span {
	margin-left: 141px;
	color: black;
}

.nav-home:hover {
	text-decoration: none;
}

.nav-connect {
	background-color: #f0f0f0;
	border-radius: 25px;
	padding: 5px 10px;
	color: #EC6323;
	text-decoration: none;
	transition: background-color 0.3s;
	cursor: pointer;
}

.nav-connect {
	display: block;
	position: relative;
	z-index: 1023;
}

.nav-item {
	cursor: pointer;
	padding: 5px 10px;
	text-decoration: none;
	position: relative;
}

.nav-link.fa.fa-user {
	width: 35px;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #EC6323;
	font-size: 30px;
	border-radius: 50%;
	position: relative;
	overflow: hidden;
	border: 2px solid #EC6323;
	cursor: pointer;
}

.social-icons {
	top: 35px;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	list-style: none;
	padding: 10px;
	margin: 0;
	position: absolute;
	background-color: #fff;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	border-radius: 25px;
	right: 5px;
	transform: translateX(-50%);
}

.social-icons li {
	list-style: none;
}

.social-icons li + li {
	margin-top: 10px;
}

.social-icons li a {
	text-decoration: none;
	color: white;
	display: block;
	width: 40px;
	height: 40px;
	background-color: black;
	border-radius: 50%;
	text-align: center;
	line-height: 40px;
}

.social-icons li a .fa {
	font-size: 20px;
	color: white;
}

.sub-menu {
	display: none;
	list-style: none;
	padding: 0;
	margin: 0;
	position: absolute;
	background-color: #fff;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	border-radius: 25px;
	width: 200px;
}

.sub-menu li {
	display: block;
	margin: 0;
	color: #666;
}

.sub-menu li a {
	display: block;
	margin: 0;
	padding: 10px;
	color: #666;
}

.sub-menu li:hover {
	color: #000;
}

.custom_nav-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.connect {
	display: flex;
}

#loginFormFields button,
#sendResetCode,
#updatePassword {
	padding: 1px 57px;
	background-color: black;
	color: #ffffff;
	border-radius: 25px;
}

input[type="radio"]#forgotPasswordRadio {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	background-color: transparent;
	border: none;
	outline: none;
}

label[for="showPassword"] {
	margin-right: 40px;
}

.nav-item-social {
	position: relative;
	right: 40px;
}

.nav-item:hover .sub-menu {
	display: block;
}

.sub-menu, .social-icons {
	display: none;
}

ul.sub-menu.service {
	margin-left: 30px;
}

.nav-item-adaptive-phone {
	display: none;
}

/*Footer*/

.footer_section {
	margin-top: 108px;
	background: #A1E8B9;
	height: 190px;
}

.footer_section .container {
	display: flex;
	justify-content: space-between;
}

.footer-logo p {
	color: #FFF;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	width: 188px;
}

.footer-logo button {
	background-color: #EC6323;
	color: #fff;
	padding: 10px 15px;
	border: none;
	border-radius: 25px;
	font-size: 16px;
	text-decoration: none;
	cursor: pointer;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.footer-about h2 {
	margin-top: 15px;
	color: #FFF;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.footer-about a {
	display: block;
	color: rgba(255, 255, 255, 0.77);
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-top: 15px;
}

.footer-quick-links h2 {
	margin-top: 15px;
	color: #FFF;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.footer-quick-links a {
	display: block;
	color: rgba(255, 255, 255, 0.77);
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-top: 15px;
}

.footer-contact h2 {
	margin-top: 15px;
	color: #FFF;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.footer-contact p {
	color: rgba(255, 255, 255, 0.77);
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	-webkit-text-fill-color: rgba(255, 255, 255, 0.77);
	cursor: pointer;

}

.icon-social-network a {
	display: inline-block;
	background-color: #EC6323;
	border-radius: 50%;
	margin: 5px;
	padding: 10px;
	text-align: center;
	width: 40px;
	height: 40px;
	line-height: 30px;
	font-size: 20px;
	text-decoration: none;
}

.icon-social-network a i {
	color: #A1E8B9;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*index*/
/*BLOCK-1*/
.one_section .container {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.one_section .left_images,
.one_section .right_content {
	width: 100%;
}

.one_section .left_images {
	margin-top: 72px;
}

.one_section .left_images .one-background-img {
	position: relative;
	top: 40px;
	left: 0px;
	z-index: -1;
}

.one_section .left_images .one-background-img img {
	width: 90%;
	height: 487px;
}

.one_section .right_content {
	position: relative;
	width: 100%;
}

.one_section .right_content::before {
	margin-right: -165px;
	content: "";
	background-image: url("/static/app/images/index-one-block-3.webp");
	background-size: 100% 100%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
}

.one_section .right_content .one-info {
	position: relative;
	padding: 10px;
	z-index: 1022;
	margin-top: 114px;
	right: -85px;
	display: grid;
	justify-items: center;
}

.one_section .right_content .one-info h2 {
	color: #FFF;
	text-align: center;
	font-size: 64px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	text-transform: uppercase;
	margin: 0 0 15px 0;
}

.one_section .right_content .one-info .phone {
	margin-top: 20px;
	margin-bottom: 0;
	color: #EC6323;
	text-align: center;
	font-size: 32px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	-webkit-text-fill-color: #EC6323;
	cursor: pointer;
}

.one_section .right_content .one-info .text-1 {
	color: #FFF;
	text-align: center;
	font-size: 30px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin: 15px 0;
}

.one_section .contact-me-btn button {
	border-radius: 20px;
	width: 345px;
	height: 45px;
	font-family: var(--second-family);
	font-weight: 700;
	font-size: 20px;
	color: #fff;
	background-color: #EC6323;
	border: none;
}

/*BLOCK-2 about*/

.about_section {
	padding: 20px;
	margin-top: 100px;
}

.about_section .heading_container h2 {
	position: relative;
	margin-top: 10px;
	font-family: var(--second-family);
	font-weight: 600;
	font-size: 32px;
	text-transform: uppercase;
	color: #141e17;
	z-index: 2;
}

.about_section .about-section {
	position: relative;
	font-style: normal;
	line-height: normal;
	z-index: 2;
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 25px;
	color: #53785e;
}

.about_section .container .img-box img {
	width: 100%;
	height: auto;
	margin-top: 24%;
}

/*END BLOCK-2 about*/

/*BLOCK-3 investment*/
.common-background {
	margin-top: 100px;
	background-size: 100% 83%;
	background-repeat: no-repeat;
}

.investment-section-index {
	padding-top: 20px;
}

.investment-section-index .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.investment-section-index .heading_container h2 {
	width: 470px;
	position: relative;
	margin-top: 10px;
	color: #fff;
	font-size: 32px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	text-transform: uppercase;
	z-index: 2;
}

.investment-section-index .row {
	margin-top: 24px;
	margin-left: 0;
}

.investment-section-index .heading_container p {
	width: 500px;
	color: #fff;
	font-size: 25px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-align: left;
}

.investment-section-index .video-box {
	position: relative;
	width: 552px;
	height: 310px;
	top: 10px;
	right: -100px;
}

.investment-section-index .video-box img {
	width: 100%;
	height: 100%;
}

.investment-section-index .video-box a img {
	position: relative;
	left: 13%;
	top: -94%;
	width: 74%;
	height: 80%;
}

.investment-section-index iframe {
	aspect-ratio: 16 / 9;
	position: relative;
	left: 76px;
	top: -287px;
	width: 400px;
	height: 243px;
}

.investment-section-index .button-container {
	text-align: left;
}

.investment-section-index .button-container a {
	width: 259px;
	height: 45px;
	background-color: #EC6323;
	color: #fff;
	border: none;
	border-radius: 25px;
	font-family: var(--second-family);
	font-weight: 700;
	font-size: 20px;
	text-align: left;
}

/*END BLOCK-3 investment*/

/*BLOCK-4 automation*/
.automation-section-index {
	margin-top: 100px;
	height: 380px;
}

.automation-section-index .automation-img img {
	float: left;
	border-radius: 25px;
	max-width: 100%;
	max-height: 315px;
	width: auto;
	height: auto;
}

.automation-section-index .block-detail {
	float: right;
	width: 50%;
}

.automation-section-index .block-detail h2 {
	margin-left: 20px;
	margin-top: 30px;
	color: #fff;
	font-size: 32px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	text-transform: uppercase;
}

.automation-section-index .block-detail p {
	margin-left: 20px;
	color: #fff;
	font-size: 25px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.automation-section-index .block-detail a.button {
	display: flex;
	margin-left: 20px;
	background-color: #EC6323;
	border: none;
	text-decoration: none;
	cursor: pointer;
	font-style: normal;
	line-height: normal;
	border-radius: 20px;
	width: 259px;
	height: 45px;
	font-family: var(--second-family);
	font-weight: 700;
	font-size: 20px;
	color: #fff;
	align-items: center;
	justify-content: space-between;
	padding-left: 10px;
}

.automation-section-index .automation-deckor-image {
	height: 0;
}

.automation-section-index .automation-deckor-image img {
	position: relative;
	bottom: 455px;
	right: 30px;
	z-index: -1;
}

/*END BLOCK-4 automation*/

/*BLOCK-5 refueling*/
.refueling-section {
	margin-top: 100px;
}

.refueling-section .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.refueling-section .heading_container h2 {
	position: relative;
	margin-top: 10px;
	color: #141E17;
	font-size: 32px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	text-transform: uppercase;
	z-index: 2;
}

.refueling-section .row {
	margin-top: 24px;
	margin-left: 0;
}

.refueling-section .detail-box {
	margin-top: 30%;
}

.refueling-section .about-section {
	color: #53785E;
	font-size: 25px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.refueling-section .img-box img {
	width: 100%;
	margin-left: 0;
	margin-top: 0;
}

.refueling-section a button {
	background-color: #EC6323;
	padding: 10px;
	border: none;
	border-radius: 25px;
	text-decoration: none;
	cursor: pointer;
	font-style: normal;
	line-height: normal;
	width: 359px;
	height: 45px;
	font-family: var(--second-family);
	font-weight: 700;
	font-size: 20px;
	color: #fff;
	text-align: left;
}

/*Auto Park page*/
/*block 1*/
.auto-park-one-section .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.auto-park-left {
	position: relative;
	width: 100%;
	height: auto;
	top: 130px;
}

.auto-park-left img {
	position: absolute;
	border-radius: 62px;
	width: 200%;
	height: auto;
	top: -295px;
	left: -120px;
}

.auto-park-right {
	position: relative;
	width: 806px;
	height: 522px;
	top: 0;
}

.auto-park-right .decorate-img {
	right: -165px;
	position: relative;
	z-index: -1;
}

.auto-park-one-info {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: #ffffff;
	padding: 0 139px 0 115px;
}

.auto-park-one-info h2 {
	font-style: normal;
	line-height: normal;
	margin: 0;
	font-family: var(--second-family);
	font-weight: 700;
	font-size: 36px;
	text-transform: uppercase;
	text-align: center;
	color: #ec6323;
}

.auto-park-one-info p {
	font-style: normal;
	line-height: normal;
	margin: 15px 0;
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 25px;
	text-align: center;
	color: #fff;
}

.auto-park-btn-box {
	width: 100%;
	right: -150px;
	position: relative;
	bottom: 125px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.auto-park-btn-box button {
	background-color: #EC6323;
	padding: 15px 0;
	border: none;
	text-decoration: none;
	cursor: pointer;
	font-style: normal;
	line-height: normal;
	font-family: var(--second-family);
	font-weight: 700;
	font-size: 20px;
	color: #fff;
	border-radius: 20px;
	width: 557px;
	height: 57px;
}

/*block 2*/
.auto-park-two-section {
	margin-top: 60px;
}

.auto-park-two-section .container-park {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.auto-park-two-section .img-box {
	max-width: 1440px;
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.auto-park-two-section .img-box img {
	width: 100%;
	height: auto;
}


.auto-park-two-section .img-box img:nth-child(1) {
	width: 440px;
	position: relative;
	top: 80px;
}

.auto-park-two-section .img-box img:nth-child(2) {
	width: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.auto-park-two-section .img-box img:nth-child(3) {
	width: 460px;
	position: relative;
	top: 82px;
	left: 0;
}

.auto-park-two-section .detail-box {
	display: flex;
	margin-right: 5px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	top: -135px;
}

.auto-park-two-section .detail-box p {
	width: 68%;
	font-family: var(--second-family);
	font-weight: 600;
	font-size: 32px;
	text-align: center;
	color: #141e17;
}

.auto-park-two-section .contact-us {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.auto-park-two-section .contact-us a button {
	margin-top: 15px;
	width: 300px;
	border: 5px solid #EC6323;
	background: #FFF;
	padding: 10px 35px;
	font-size: 20px;
	color: #38423b;
	cursor: pointer;
	font-weight: 700;
}

.auto-park-two-section .contact-us button {
	margin-top: 10px;
	padding: 10px 10px;
	background: #EC6323;
	border: 5px solid #EC6323;
	text-decoration: none;
	cursor: pointer;
	border-radius: 20px;
	width: 300px;
	height: 57px;
	font-family: var(--second-family);
	font-weight: 700;
	font-size: 20px;
	color: #fff;
}

.auto-park-two-section .contact-us a button {
	margin-top: 10px;
	text-decoration: none;
	cursor: pointer;
	font-style: normal;
	line-height: normal;
	border: 6px solid #ec6323;
	border-radius: 20px;
	width: 300px;
	height: 57px;
	font-family: var(--second-family);
	font-weight: 700;
	font-size: 20px;
	color: #38423b;
}

/*block 3*/

.auto-park-three-section {
	margin-top: -35px;
	background: url(/static/app/images/auto-park-img/park-block-6-2.webp) no-repeat;
	background-size: 100% 100%;
}

.auto-park-three-section .container {
	display: grid;
	grid-template-columns: repeat(2, 50%);
	align-items: center;
	padding: 126px 10px;
}

.auto-park-three-section .container .box-img {
	width: 100%;
}

.auto-park-three-section .container .box-img img {
	width: 100%;
	height: auto;
}

.auto-park-three-section .container .description {
	width: 100%;
}

.auto-park-three-section .container .description h2 {
	font-family: var(--second-family);
	font-weight: 700;
	font-size: 36px;
	text-transform: uppercase;
	color: #141e17;
}

.auto-park-three-section .container .description p {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 25px;
	color: #38423b;
}

.auto-park-three-section .container .description .buttons-box {
	display: flex;
	justify-content: space-between;
}

.auto-park-three-section .container .description a button {
	width: 300px;
	padding: 15px 0;
	border: none;
	border-radius: 20px;
	font-size: 20px;
	text-decoration: none;
	cursor: pointer;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	background: #EC6323;
	color: #fff;
}

/*block 4*/

.auto-park-four-section {
	margin-top: 100px;
}

.auto-park-four-section .container {
	display: grid;
	grid-template-columns: repeat(2, 50%);
	align-items: center;
}


.auto-park-four-section .container > div {
	flex: auto;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: flex-start;
}

.auto-park-four-section .container .description {
	width: 100%;
}

.auto-park-four-section .container .description h2 {
	font-family: var(--second-family);
	font-weight: 700;
	font-size: 36px;
	text-transform: uppercase;
	color: #141e17;
}

.auto-park-four-section .container .description p {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 25px;
	color: #38423b;
}

.auto-park-four-section .container .description button {
	padding: 15px 15px;
	border: none;
	border-radius: 20px;
	font-size: 20px;
	text-decoration: none;
	cursor: pointer;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	background: #EC6323;
	color: #fff;
}

.auto-park-four-section .container .box-img {
	width: 100%;
	height: auto;
	display: flex;
}

.auto-park-four-section .container .box-img img {
	width: 100%;
	height: auto;
}

/*block 5*/

.auto-park-five-section {
	margin-top: 100px;
}

.auto-park-five-section .container {
	display: flex;
	align-items: center;
	background: url(/static/app/images/auto-park-img/park-block-5-background.png) no-repeat 100% center;
}

.auto-park-five-section .container .box-img {
	width: 50%;
}

.auto-park-five-section .container .box-img img {
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
}

.auto-park-five-section .container .description {
	width: 100%;
	padding: 10px 30px;
}

.auto-park-five-section .container .description h2 {
	font-family: var(--second-family);
	font-weight: 700;
	font-size: 36px;
	text-transform: uppercase;
	color: #fff;
}

.auto-park-five-section .container .description p {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 25px;
	color: #fff;
}

.auto-park-five-section .container .description .contact-us {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.auto-park-five-section .container .description a button {
	margin-top: 15px;
	border: 5px solid #EC6323;
	background-color: transparent;
	padding: 10px 35px;
	font-size: 20px;
	color: #fff;
	cursor: pointer;
	font-weight: 700;
}

.auto-park-five-section .container .description button {
	margin-top: 10px;
	padding: 10px 10px;
	background: #EC6323;
	border: 5px solid #EC6323;
	color: #fff;
	border-radius: 20px;
	font-size: 20px;
	text-decoration: none;
	cursor: pointer;
	font-weight: 700;
}


/*block 6*/

.auto-park-six-section {
	margin-top: 100px;
}

.auto-park-six-section .container {
	display: flex;
	align-items: center;
}

.auto-park-six-section .container .box-img {
	width: 100%;
}

.auto-park-six-section .container .box-img img {
	width: 100%;
	height: auto;
}

.auto-park-six-section .container .description {
	width: 100%;
	padding: 10px 30px;
}

.auto-park-six-section .container .description h2 {
	font-family: var(--second-family);
	font-weight: 700;
	font-size: 36px;
	text-transform: uppercase;
	color: #141e17;
}

.auto-park-six-section .container .description p {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 25px;
	color: #38423b;
}

.auto-park-six-section .container .description a button {
	margin-top: 15px;
	border: 5px solid #EC6323;
	background-color: #EC6323;
	padding: 10px 35px;
	font-size: 20px;
	color: #fff;
	cursor: pointer;
	border-radius: 25px;
	font-weight: 700;
}

/*block 7*/

.auto-park-seven-section {
	margin-top: 100px;
	background: url(/static/app/images/auto-park-img/park-block-6-2.webp) no-repeat;
	background-size: 100% 100%;
	padding: 10px;
}

.auto-park-seven-section .container {
	display: flex;
	align-items: center;
}

.auto-park-seven-section .container .box-img {
	width: 50%;
}

.auto-park-seven-section .container .box-img img {
	width: 100%;
	height: auto;
}

.auto-park-seven-section .container .description {
	width: 100%;
	padding: 10px 30px;
}

.auto-park-seven-section .container .description h2 {
	font-family: var(--second-family);
	font-weight: 700;
	font-size: 36px;
	text-transform: uppercase;
	color: #141e17;
	text-align: center;
}

.auto-park-seven-section .container .description p {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 25px;
	color: #38423b;
	text-align: center;
}

.auto-park-seven-section .container .description button {
	width: 100%;
	margin-top: 15px;
	border: 5px solid #EC6323;
	background-color: #EC6323;
	padding: 10px 10px;
	font-size: 20px;
	color: #fff;
	cursor: pointer;
	border-radius: 25px;
	font-weight: 700;
}

/* block 8 */

.auto-park-eight-section {
	margin-top: 100px;
}

.auto-park-eight-section .container {
	display: flex;
	align-items: center;
}

.auto-park-eight-section .container .box-img {
	width: 100%;
}

.auto-park-eight-section .container .box-img img {
	width: 120%;
	height: auto;
}

.auto-park-eight-section .container .description {
	width: 80%;
	padding: 10px 30px;
	margin-left: 10px;
	position: relative;
	left: 81px;
}

.auto-park-eight-section .container .description h2 {
	font-family: var(--second-family);
	font-weight: 700;
	font-size: 36px;
	text-transform: uppercase;
	color: #141e17;
}

.auto-park-eight-section .container .description p {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 25px;
	color: #38423b;
}

.auto-park-eight-section .container .description button {
	margin-top: 15px;
	border: 5px solid #EC6323;
	background-color: #EC6323;
	padding: 10px 35px;
	font-size: 20px;
	color: #fff;
	cursor: pointer;
	border-radius: 25px;
	font-weight: 700;
}

/* block 9 */

.auto-park-nine-section {
	margin-top: 100px;
	margin-bottom: 10px;
}

.auto-park-nine-section .container {
	display: flex;
	align-items: center;
	background: url(/static/app/images/auto-park-img/park-block-5-background.png) no-repeat;
	background-size: 80% 100%;
	position: relative;
}

.auto-park-nine-section .container .box-img {
	width: 65%;
	position: absolute;
	bottom: -22px;
	right: -60px;
}

.auto-park-nine-section .container .box-img img {
	width: 100%;
	height: auto;
}

.auto-park-nine-section .container .description {
	width: 100%;
	padding: 167px 51px;
}

.auto-park-nine-section .container .description h2 {
	font-family: var(--second-family);
	font-weight: 700;
	font-size: 36px;
	text-transform: uppercase;
	color: #fff;
}

.auto-park-nine-section .container .description p {
	width: 45%;
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 25px;
	color: #fff;
}

.auto-park-nine-section .container .description button {
	margin-top: 15px;
	border: 5px solid #EC6323;
	background-color: #EC6323;
	padding: 10px 35px;
	font-size: 20px;
	color: #fff;
	cursor: pointer;
	border-radius: 25px;
	font-weight: 700;
}

/* block 10 */

.auto-park-ten-section {
	margin-top: 100px;
}

.auto-park-ten-section .container {
	display: flex;
	align-items: center;
}

.auto-park-ten-section .container .box-img {
	width: 100%;
}

.auto-park-ten-section .container .description {
	width: 74%;
	padding: 10px 30px;
	position: relative;
	left: -150px;
}

.auto-park-ten-section .container .description h2 {
	font-family: var(--second-family);
	font-weight: 700;
	font-size: 36px;
	text-transform: uppercase;
	color: #141e17;
}

.auto-park-ten-section .container .description p {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 25px;
	color: #38423b;
}

.auto-park-ten-section .container .description a button {
	margin-top: 15px;
	border: 5px solid #EC6323;
	background-color: #EC6323;
	padding: 10px 35px;
	font-size: 20px;
	color: #fff;
	cursor: pointer;
	border-radius: 25px;
	font-weight: 700;
}

/* block 11 */
.auto-park-eleven-section {
	margin-top: 100px;
}

.auto-park-eleven-section .container {
	display: flex;
	align-items: center;
}

.auto-park-eleven-section .container .description {
	width: 55%;
	padding: 10px 30px;
}

.auto-park-eleven-section .container .description h2 {
	font-family: var(--second-family);
	font-weight: 700;
	font-size: 36px;
	text-transform: uppercase;
	color: #141e17;
}

.auto-park-eleven-section .container .description h3 {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 25px;
	color: rgba(83, 120, 94, 0.5);
	margin-top: 25px;
}

.auto-park-eleven-section .container .description p {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 25px;
	color: #53785e;
	margin-top: 25px;
}

.auto-park-eleven-section .container .description .phone {
	cursor: pointer;
}

.auto-park-eleven-section .container .icon-social-network a i {
	color: #fff;
}

.auto-park-eleven-section .container .box-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: url(/static/app/images/auto-park-img/park-block-11.png) no-repeat;
	background-size: 100% 100%;
	padding: 76px 0 65px 25px;
}

.auto-park-eleven-section .container .box-form form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.auto-park-eleven-section .container .box-form form .client-info {
	width: 100%;
	margin-bottom: 25px;
	position: relative;
}

.auto-park-eleven-section .container .box-form form div {
	margin-bottom: 10px;
}

.auto-park-eleven-section .container .box-form form label {
	margin-right: 10px;
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 25px;
	color: #fff;
}

.auto-park-eleven-section .container .box-form form input {
	width: 100%;
	border: none;
	border-radius: 25px 0 0 25px;
	padding: 10px 15px;
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 25px;
}

.client-info input::placeholder {
	color: rgba(83, 120, 94, 0.5);
}

.auto-park-eleven-section .container .box-form form button {
	border: none;
	border-radius: 25px;
	padding: 10px 50px;
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 25px;
	color: #fff;
	background: #EC6323;
	cursor: pointer;
}

/*Form styles*/

.free-access-section,
.to-consult-section,
.to-connect-section,
.contact-me-section {
	display: none;
	background-color: #A1E8B9;
	padding: 20px;
	text-align: center;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 62px;
	width: 750px;
	height: auto;
	z-index: 99999;
}

.free-access-section h2,
.to-consult-section h2,
.to-connect-section h2,
.contact-me-section h2 {
	margin-top: 55px;
	color: #EC6323;
	text-align: center;
	font-size: 36px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	text-transform: uppercase;
}

.free-access-section p,
.to-consult-section p,
.to-connect-section p,
.contact-me-section p {
	margin-top: 15px;
	color: #38423B;
	text-align: center;
	font-size: 25px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.contact-me-section input[type="text"],
.contact-me-section input[type="tel"],
.contact-me-section input[type="email"] {
	margin-top: 30px;
	width: 100%;
	padding: 25px 20px;
	border: 1px solid #ccc;
	border-radius: 25px;
}

.free-access-section input[type="submit"],
.to-consult-section input[type="submit"],
.to-connect-section input[type="submit"],
.contact-me-section button {
	margin-top: 24px;
	background-color: #EC6323;
	color: #fff;
	padding: 10px 20px;
	border: none;
	cursor: pointer;
	transition: background-color 0.3s;
	border-radius: 62px;
}

.free-access-section input[type="submit"]:hover,
.to-consult-section input[type="submit"]:hover,
.to-connect-section input[type="submit"]:hover,
.contact-me-section input[type="submit"]:hover {
	background-color: #FF8C24;
}

.free-access-section .close-button,
.to-consult-section .close-button,
.to-connect-section .close-button,
.contact-me-section .close-button {
	position: absolute;
	top: 10px;
	right: 20px;
	background: transparent;
	border: none;
	font-size: 50px;
	cursor: pointer;
	color: black;
}

.contact-me-section span.error-message {
	display: none;
	color: red;
	font-size: 15px;
	float: left;
	position: absolute;
	left: 20px;
	top: 50px;
}

.contact-me-section span.error-name {
	display: none;
	color: red;
	font-size: 15px;
	float: left;
	position: absolute;
	left: 55px;
	top: 245px;
}

.contact-me-section span.error-phone {
	display: none;
	color: red;
	font-size: 15px;
	float: left;
	position: absolute;
	left: 55px;
	top: 330px;
}

.contact-me-section span.error-email {
	display: none;
	color: red;
	font-size: 15px;
	float: left;
	position: absolute;
	left: 55px;
	top: 415px;
}

.box-form span.error-message {
	display: none;
	color: red;
	font-size: 15px;
	float: left;
	position: absolute;
	left: 15px;
	top: 105px;
}

/*///////////////*/

.thank-you-message,
.existing-you-message {
	display: none;
	background-color: #A1E8B9;
	padding: 20px;
	text-align: center;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 62px;
	width: 940px;
	height: auto;
	z-index: 99999;
}

.existing-you-message {
	height: auto;
}

.message-box {
	background-color: white;
	padding: 20px;
	margin: 55px 55px;
	border-radius: 62px;
}

.message-box h2 {
	color: #EC6323;
	margin: 101px 104px;
	text-align: center;
	font-size: 28px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

/*Invest page*/
.invest-btn {
	font-size: 16px;
	padding: 15px 20px;
	background-color: #EC6323;
	color: #fff;
	border: none;
	cursor: pointer;
	transition: background-color 0.3s;
	border-radius: 20px;
	width: 260px;
	height: 56px;
}

/*block 1*/
.investment_section .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.investment-left {
	position: relative;
	width: 100%;
	height: auto;
	top: 130px;
}

.investment-left img {
	position: absolute;
	border-radius: 62px;
	width: 200%;
	height: auto;
	top: -280px;
	left: -120px;
}


.investment-right {
	position: relative;
	width: 806px;
	height: 522px;
	top: 0;
}


.investment-right .decorate-img {
	right: -165px;
	position: relative;
	z-index: -1;
}

.invest-one-info {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: #ffffff;
	padding: 0 139px 0 70px;
}

.invest-one-info h2 {
	width: 100%;
	margin-bottom: 20px;
	font-style: normal;
	line-height: normal;
	font-family: var(--second-family);
	font-weight: 700;
	font-size: 36px;
	text-transform: uppercase;
	text-align: center;
	color: #ec6323;
	margin-left: 15px;
}

.invest-one-info p {
	color: #FFF;
	text-align: center;
	font-size: 27px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-left: 30px;
}

.invest-btn-box {
	width: 100%;
	right: -150px;
	position: relative;
	bottom: 140px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
	gap: 39px;
}

.invest-btn-box .how-does-it-work-btn {
	margin-left: 10px;
	background-color: #fff;
	color: #EC6323;
	padding: 15px 20px;
	border-radius: 20px;
	border: none;
	width: 260px;
	height: 56px;
}

/* block 2 */
.investment-two-section {
	margin-top: 100px;
	grid-column-gap: 28px;
	grid-row-gap: 28px;
	grid-template-rows: auto;
	grid-template-columns: 1fr 1fr;
	grid-auto-columns: 1fr;
	display: grid;
}

.investment-two-section .how-does-it-work {
	position: sticky;
	top: 90px;
	grid-area: span 1 / span 1 / span 1 / span 1;
	align-self: start;
	margin-left: 140px;
}

.investment-two-section .how-does-it-work h2 {
	color: #141E17;
	font-size: 32px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	text-transform: uppercase;
}

.investment-two-section .how-does-it-work p {
	width: 100%;
	margin-top: 25px;
	color: #53785E;
	font-size: 25px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.investment-two-section .investment-cards-container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	background: url(/static/app/images/invest-img/invest-block-2.png) no-repeat;
	background-size: 100% 100%;
	padding: 52px 105px 58px 39px;
	border-radius: 25px;
}

.investment-two-section .investment-cards-container .investment-cards {
	display: flex;
	width: 100%;
	gap: 25px;
	flex-direction: column;
}

.investment-two-section .investment-cards-container .investment-cards .investment-card {
	width: 100%;
	background: #fff;
	padding: 33px 34px 33px 49px;
	border-radius: 20px;
}

.investment-two-section .investment-cards-container .investment-cards .investment-cart h2 {
	color: #141E17;
	font-size: 32px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.investment-two-section .investment-cards-container .investment-cards .investment-card span {
	margin-top: 20px;
	color: #53785E;
	font-size: 25px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.investment-two-section .how-does-it-work button {
	display: block;
}

.investment-two-section button {
	display: none;
}


/* block 3 */

.investment-three-section {
	margin-top: 100px;
}

.investment-three-section .why-us-title h2 {
	font-family: var(--second-family);
	font-weight: 700;
	font-size: 32px;
	text-transform: uppercase;
	color: #141e17;
}

.investment-three-section .switch-card {
	float: right;
	margin-bottom: 25px;
}

.investment-three-section .investment-slider {
	margin-top: 40px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.investment-three-section .why-us-cards-container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 0 0 calc(33.33% - 20px);
	margin: 0 10px;
	box-sizing: border-box;
}

.investment-three-section .why-us-card {
	width: 349px;
	background: #e5f9ec;
	border-radius: 25px;
	padding: 50px 25px;
	transition: background-color 0.3s;
}

.splide__list {
	gap: 10px;
}

.investment-three-section .why-us-card .container-card {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.investment-three-section .why-us-card .container-card h3 {
	font-family: var(--second-family);
	font-weight: 700;
	font-size: 25px;
	text-align: center;
	color: #141e17;
	margin: 25px 0;
}

.investment-three-section .why-us-card .container-card p {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 25px;
	text-align: center;
	color: #53785e;
}

.investment-three-section .why-us-card:hover {
	background: #a1e8b9;
}

.investment-three-section .why-us-card:hover .container-card h3,
.investment-three-section .why-us-card:hover .container-card p {
	color: white;
}

.investment-three-section .box-btn {
	display: flex;
	align-items: center;
	justify-content: center;
}

.investment-three-section .splide__arrow {
	background: none;
	top: -25px;
	width: 100px;
	height: 25px;
}

.investment-three-section .splide__arrow svg {
	height: auto;
	width: 100%;
}

.investment-three-section .splide__arrow--prev {
	left: auto;
	transform: scaleX(-1) translateY(-50%);
	right: 160px;
}

/* block 4 */

.investment-four-section {
	margin-top: 100px;
	background: url(/static/app/images/invest-img/invest-block-4.png) no-repeat;
	background-size: 100% 100%;

}

.investment-four-section .container {
	display: flex;
	justify-content: flex-start;
	padding: 50px 0;
	gap: 50px;
}


.investment-four-section .container .potential-income {
	width: 50%;
	padding-left: 50px;
}

.investment-four-section .container .potential-income h2 {
	font-family: var(--second-family);
	font-weight: 700;
	font-size: 32px;
	font-variant: small-caps;
	color: #fff;
}

.investment-four-section .container .potential-income p {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 25px;
	color: #fff;
	margin-top: 15px;
}


.investment-four-section .container .potential-income-box-form form {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.investment-four-section .container .potential-income-box-form form .client-info {
	width: 100%;
	margin-bottom: 25px;
	position: relative;
}

.investment-four-section .container .potential-income-box-form form div {
	margin-bottom: 10px;
}

.investment-four-section .container .potential-income-box-form form label {
	margin-right: 10px;
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 25px;
	color: #fff;
}

.investment-four-section .container .potential-income-box-form form input {
	width: 100%;
	border: none;
	border-radius: 25px;
	padding: 10px 15px;
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 25px;
}

.potential-income-box-form span.error-message {
	display: none;
	color: red;
	font-size: 15px;
	float: left;
	position: absolute;
	left: 15px;
	top: 105px;
}

/* block 5 */

.investment-five-section {
	margin-top: 100px;
}

.investment-five-section .asked-questions-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

.investment-five-section .asked-questions-title {
	width: 100%;
	text-align: center;
	margin-bottom: 55px;
	font-family: var(--second-family);
	font-weight: 700;
	font-size: 32px;
	font-variant: small-caps;
	color: #141e17;
}

.investment-five-section .question {
	width: 100%;
	border-bottom: 3px solid #a1e8b9;
	margin-bottom: 25px;
}

.investment-five-section .question h3,
.investment-five-section .question p {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 25px;
	color: #53785e;
}

.investment-five-section .question h3 {
	width: 87%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.investment-five-section .question p {
	display: none;
}

.investment-five-section .question h3 svg .rotate {
	transform: rotate(90deg);
	transition: transform 0.3s ease;
}


/* adaptive vertical for phone */

/*form login*/
.nav-item .btn-box span {
	color: #A8C465FF;
	display: flex;
	gap: 5px;
	justify-content: center;
	align-items: center;
	margin-left: 10px;
	border: 1px solid #E96F24;
	border-radius: 25px;
	padding: 5px 15px;
}

.login-form {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 25px;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	z-index: 1000;
	display: none;
	width: 430px;
}

.close-btn {
	position: absolute;
	right: 15px;
	top: 10px;
	font-size: 30px;
	cursor: pointer;
}


.login-form input[type="radio"] + label {
	color: black;
}

.login-form input[type="radio"]:checked + label {
	text-decoration-line: underline;
	text-decoration-color: #E96F24;
}

#changePasswordRadio,
#loginRadio,
#forgotPasswordRadio {
	display: none;
}


#loginFormFields {
	margin-top: 20px;
}

#loginFormFields input {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

#loginFormFields input[type="text"],
#loginFormFields input[type="password"],
#updatePasswordFields input[type="text"],
#updatePasswordFields input[type="password"],
#forgotPasswordFields input[type="email"] {
	width: 100%;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 25px;
	margin-bottom: 10px;
}

.opt {
	display: flex;
}

#showPassword {
	margin-top: -8px !important;
	margin-right: 10px;
}


#loginFormFields input[type="checkbox"] {
	margin-top: 10px;
}

#loginFormFields button:not(:last-child) {
	margin-right: 20px;
}

.clickable {
	cursor: pointer;
}

.clickable .fa-user {
	cursor: pointer;
}

.login-buttons {
	display: flex;
	justify-content: center;
	align-items: center;
}


/* Стилі для модального вікна */
.modal-signed-in-false {
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-content-false {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	max-width: 600px;
	position: relative;
	border-radius: 25px;
}

.close {
	position: absolute;
	top: 10px;
	right: 15px;
	font-size: 24px;
	font-weight: bold;
	cursor: pointer;
}

.forgot-password-form, .reset-password-form {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 25px;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	z-index: 1000;
	display: none;
	width: 400px;
}

.danger-message {
	display: none;
	color: #d50000;
}

/* charging station page */
/* block 1 */
.charging-station-section {
	width: 100%;
	height: 550px;
}

.charging-station-section .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.charging-station-section .charging-left-images {
	position: relative;
	width: 100%;
	height: auto;
	top: 130px;
}

.charging-station-section .charging-left-images img {
	position: relative;
	border-radius: 62px;
	width: 110%;
	height: auto;
	top: -80px;
	left: 50px;
}

.charging-station-section .charging-right-content {
	position: relative;
	width: 806px;
	height: 522px;
	top: 0;
}

.charging-station-section .charging-right-content .decorate-img {
	right: -165px;
	position: relative;
	z-index: -1;
}

.charging-right-content .one-info {
	width: 70%;
	position: relative;
	padding: 10px;
	z-index: 1022;
	margin-top: -350px;
	right: -95px;
}

.charging-right-content .one-info h2 {
	color: #fff;
	text-align: center;
	font-size: 36px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	text-transform: uppercase;
}

.charging-right-content .one-info p {
	color: #fff;
	text-align: center;
	font-size: 25px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-top: 15px;
}

.charging-station-section .contact-me-btn button {
	margin-left: 340px;
	border-radius: 20px;
	width: 345px;
	height: 45px;
	background: #ec6323;
	border: none;
	font-family: var(--second-family);
	font-weight: 700;
	font-size: 20px;
	color: #fff;
}


/* block 2 */
.charging-two-section {
	margin-top: 100px;
}

.charging-two-section .why-us-title h2 {
	font-family: var(--second-family);
	font-weight: 700;
	font-size: 32px;
	text-transform: uppercase;
	color: #141e17;
}

.charging-two-section .switch-card {
	float: right;
	margin-bottom: 25px;
}

.charging-two-section .charging-slider {
	margin-top: 40px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.charging-two-section .why-us-cards-container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 0 0 calc(33.33% - 20px);
	margin: 0 10px;
	box-sizing: border-box;
}

.charging-two-section .why-us-card {
	width: 349px;
	height: 558px;
	background: #e5f9ec;
	border-radius: 25px;
	padding: 50px 25px;
	transition: background-color 0.3s;
}

.charging-two-section .why-us-card-first {
	height: 602px;
}

.charging-two-section .why-us-card .container-card {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.charging-two-section .why-us-card .container-card h3 {
	font-family: var(--second-family);
	font-weight: 700;
	font-size: 25px;
	text-align: center;
	color: #141e17;
	margin: 25px 0;
}

.charging-two-section .why-us-card .container-card p {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 25px;
	text-align: center;
	color: #53785e;
}

.charging-two-section .why-us-card:hover {
	background: #a1e8b9;
}

.charging-two-section .why-us-card:hover .container-card h3,
.charging-two-section .why-us-card:hover .container-card p {
	color: white;
}

.charging-two-section .box-btn {
	display: flex;
	align-items: center;
	justify-content: center;
}

.charging-two-section .box-btn .invest-btn {
	font-size: 20px;
	padding: 15px 20px;
	background-color: #EC6323;
	color: #fff;
	border: none;
	transition: background-color 0.3s;
	border-radius: 20px;
	width: 260px;
	height: 56px;
	font-family: var(--second-family);
	font-weight: 700;
}

.charging-two-section .splide__arrow {
	background: none;
	top: -25px;
	width: 100px;
	height: 25px;
}

.charging-two-section .splide__arrow svg {
	height: auto;
	width: 100%;
}

.charging-two-section .splide__arrow--prev {
	left: auto;
	transform: scaleX(-1) translateY(-50%);
	right: 160px;
}

/* block 3 */
.charging-station-section-3 {
	margin-top: 80px;
	background: url("/static/app/images/charging-station/charging-station-section-3-bg.png") no-repeat;
	background-size: 100% 100%;
	border-radius: 25px;
	padding-top: 15px;
}

.charging-station-section-3 .container {
	display: grid;
	grid-template-columns: 50% 50%;
	align-items: center;
	justify-content: center;
	gap: 110px;
}

.charging-station-section-3 .container h2 {
	color: #fff;
	font-size: 32px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	text-transform: uppercase;
}

.charging-station-section-3 .container p {
	color: #fff;
	font-size: 25px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-top: 25px;
}

.charging-station-section-3 .container .img-box {
	margin-left: 17px;
}

.charging-station-section-3 .container .buttons-box button {
	background-color: #EC6323;
	padding: 10px 15px;
	border: none;
	border-radius: 25px;
	text-decoration: none;
	cursor: pointer;
	font-style: normal;
	line-height: normal;
	width: 359px;
	height: 45px;
	font-family: var(--second-family);
	font-weight: 700;
	font-size: 20px;
	color: #fff;
	text-align: left;
}

/* block 4 */
.charging-station-section-4 {
	margin-top: 100px;
	background: url("/static/app/images/charging-station/charging-station-section-4-bg.png") no-repeat;
	background-size: cover;
	padding: 116px 0 96px 0;
}

.charging-station-section-4 .container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.charging-station-section-4 .container .img-box {
	width: 615px;
	height: 385px;
	position: relative;
}

.charging-station-section-4 .container .img-box img {
	width: 100%;
	height: 100%;
	border-radius: 25px;
}

.charging-station-section-4 .container .img-box iframe {
	position: absolute;
	top: 7%;
	left: 13%;
	width: 74%;
	height: 81%;
	border: none;
}

.charging-station-section-4 .charging-station-description h2 {
	color: #141E17;
	font-size: 32px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	text-transform: uppercase;
}

.charging-station-section-4 .charging-station-description p {
	color: #53785E;
	font-size: 25px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-top: 15px;
}

/* block 5 */
.charging-station-section-5 {
	margin-top: 80px;
}

.charging-station-section-5 .container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.charging-station-section-5 .container .how-to-charge h2 {
	color: #141E17;
	font-size: 32px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	text-transform: uppercase;
}

.charging-station-section-5 .container .how-to-charge ul {
	list-style: none;
	padding: 0;
}

.charging-station-section-5 .container .how-to-charge ul li {
	margin-top: 20px;
	color: #53785E;
	font-size: 25px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.charging-station-section-5 .container .how-to-charge ul li::before {
	content: "";
	display: inline-block;
	width: 50px;
	height: 50px;
	background-image: url(/static/app/images/app-check-mark.webp);
	background-size: cover;
	margin-right: 5px;
	vertical-align: middle;
}

.charging-station-section-5 .container .how-to-charge .images-box {
	display: flex;
	justify-content: space-between;
}

.charging-station-section-5 .container .how-to-charge .images-box img {
	margin-right: 29px;
}

.charging-station-section-5 .container .img-box {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* block 6 */

.charging-station-section-6 {
	margin-top: 100px;
}

.charging-station-section-6 .container {
	display: grid;
	grid-template-columns: 55% 35%;
	align-items: center;
	justify-content: center;
	justify-items: center;
	gap: 106px;
}

.charging-station-section-6 .container .charging-station h2 {
	color: #141E17;
	font-size: 32px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	text-transform: uppercase;
}

.charging-station-section-6 .container .charging-station p {
	color: #53785E;
	font-size: 25px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-top: 15px;
}

.charging-station-section-6 .container .buttons-box button {
	background-color: #EC6323;
	padding: 10px 10px;
	border: none;
	text-decoration: none;
	cursor: pointer;
	font-style: normal;
	line-height: normal;
	font-family: var(--second-family);
	font-weight: 700;
	font-size: 20px;
	color: #fff;
	border-radius: 20px;
	width: 408px;
	height: 57px;
	text-align: left;
}

.charging-station-section-6 .container .img-box {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	position: relative;
}

.charging-station-section-6 .container .img-box img {
	height: 365px;
}

.charging-station-section-6 .container .img-box a img,
.charging-station-section-6 .container .img-box iframe {
	position: absolute;
	top: 13%;
	left: -8%;
	width: 118%;
	height: 68%;
}

/* prices page */
/* block 1 */
.price-header-section {
	width: 100%;
	height: auto;
}

.price-header-section .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.price-header-left {
	position: relative;
	width: 100%;
	height: auto;
	margin: 100px auto 0 auto;
	z-index: 1;
}

.price-header-left img {
	width: 165%;
	height: auto;
}

.price-header-right .decorate-img {
	top: -145px;
	right: 100px;
	position: relative;
	z-index: -1;
}

.price-header-right .decorate-img img {
	width: 159%;
	height: auto;
}

/* block 2 */
.price-package-section {
	margin-top: 20px;
}

.price-package-section .container .price-packages {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 70px;
}

.package .package-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.package .package-header h3 {
	width: 80%;
	color: #141E17;
	text-align: center;
	font-size: 32px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	text-transform: uppercase;
}

.package .package-header p {
	border-radius: 25px;
	padding: 5px 70px;
	background: #A1E8B9;
	color: #141E17;
	text-align: center;
	font-size: 30px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	text-transform: uppercase;
}

.package:nth-child(1) .package-header p {
	background: #436C50;
	color: #fff;
}

.package ul {
	list-style: none;
	padding: 0;
}

.package ul li {
	color: #53785E;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-top: 22px;
	padding-left: 55px;
	position: relative;
}

.package ul li::before {
	content: "";
	width: 40px;
	height: 40px;
	background-image: url(/static/app/images/app-check-mark.webp);
	background-size: cover;
	vertical-align: middle;
	position: absolute;
	top: -5px;
	left: 0;
}

.package:nth-child(1) ul li:nth-child(9)::before,
.package:nth-child(1) ul li:nth-child(10)::before {
	background-image: url(/static/app/images/app-cross-mark.png);
	width: 25px;
	height: 25px;
	left: 7px;
}

.package .package-btn {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.package .package-btn .free-access-button {
	color: #EC6323;
	background-color: #fff;
	padding: 10px 55px;
	border-radius: 25px;
	border: 3px solid #EC6323;
	font-size: 16px;
	text-decoration: none;
	cursor: pointer;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-top: 15px;
	width: 504px;
	height: 57px;
}

.package .package-btn .consult-btn {
	background-color: #EC6323;
	color: #fff;
	padding: 10px 55px;
	border: none;
	font-size: 16px;
	text-decoration: none;
	cursor: pointer;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-top: 15px;
	border-radius: 20px;
	width: 504px;
	height: 57px;
}


/* block 3 */
.price-progress-section {
	margin-top: 80px;
	background-image: url(/static/app/images/price-img/price-progress-background.png);
	background-size: cover;
}

.price-progress-section .container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.price-progress-section .container h2 {
	color: #FFF;
	font-size: 36px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	text-transform: uppercase;
	margin-top: 15px;
}

.price-progress-cards {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 20px;
	margin-top: 15px;
}

.price-progress-cards .price-progress-card {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.price-progress-card .price-progress-img {
	width: 157px;
	height: 150px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.price-progress-text {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.price-progress-text h3 {
	color: #FFF;
	text-align: center;
	font-size: 25px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-top: 34px;
}

.price-progress-text p {
	color: rgba(255, 255, 255, 0.80);
	text-align: center;
	font-size: 25px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-top: 28px;
	margin-bottom: 50px;
}

.price-progress-card:nth-child(2) .price-progress-text p {
	margin-top: 57px;
}

/* block 4 */
.price-free-section {
	margin-top: 80px;
}

.price-free-section .container {
	display: grid;
	grid-template-columns: 50% 50%;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.price-free-section .price-free h3 {
	color: #141E17;
	font-size: 36px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	text-transform: uppercase;
}

.price-free-section .price-free p {
	color: #53785E;
	font-size: 25px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-top: 25px;
}

.price-free-section .price-free ul {
	list-style: none;
	padding: 0;
}

.price-free-section .price-free ul li {
	margin-top: 20px;
	color: #53785E;
	font-size: 25px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.price-free-section .price-free ul li::before {
	content: "";
	display: inline-block;
	width: 50px;
	height: 50px;
	background-image: url(/static/app/images/app-check-mark.webp);
	background-size: cover;
	margin-right: 5px;
	vertical-align: middle;
}

.price-free-section .price-free .btn-box {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-top: 20px;
}

.price-free-section .price-free .btn-box button {
	background-color: #EC6323;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 25px;
	font-size: 16px;
	text-decoration: none;
	cursor: pointer;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	width: 284px;
	height: 57px;
}

.price-free-section .img-box {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.price-free-section .img-box img {
	width: 100%;
	height: auto;
}

.price-free-section .img-box a img {
	position: absolute;
	width: 72%;
	height: 75%;
	top: 7%;
	left: 14%;
}

.price-free-section iframe {
	position: absolute;
	width: 72%;
	height: 80%;
	top: 7%;
	left: 14%;
}
