{% load static %}
{% load i18n %}
<section class="auto-park-seven-section">
  <div class="container">
    <h2 class="title-block">{% trans "Ninja блог" %}</h2>
    <div class="blog-cards">
      <div class="blog-card">
        <img src="{% static 'app/images/auto-park-img/park-block-7-1.webp' %}" alt="img-blog">
        <h2 class="title-blog">
          {% trans "Дизайн майбутнього: інноваційні концепції в електротаксі" %}
        </h2>
        <p class="description-blog">
          {% trans "У світі, де екологічні питання стають все більш актуальними, " %}
          {% trans "електрокари не просто є перевізниками, вони - це майбутнє транспорту." %}</p>
        <a class="btn-blog" href="#">{% trans "Читати більше" %}</a>
      </div>
      <div class="blog-card">
        <img src="{% static 'app/images/auto-park-img/park-block-7-2.webp' %}" alt="img-blog">
        <h2 class="title-blog">
          {% trans "Поради власникам електрокарів взимку" %}
        </h2>
        <p class="description-blog">
          {% trans "Досвід скандинавських країн показує, що 'зелені' авто можуть працювати в " %}
          {% trans "суворих умовах і займають передові позиції за продажами." %}</p>
        <a class="btn-blog" href="#">{% trans "Читати більше" %}</a>
      </div>
    </div>
    <div class="blog-cards">
      <div class="blog-card">
        <img src="{% static 'app/images/auto-park-img/park-block-7-1.webp' %}" alt="img-blog">
        <h2 class="title-blog">
          {% trans "Поруч і завжди доступні: " %}
          {% trans "Важливість ефективної підтримки в електротаксі" %}
        </h2>
        <p class="description-blog">
          {% trans "Електротаксі - це не просто транспортний засіб; це мобільний сервіс, " %}
          {% trans "який змінює наше сприйняття громадського транспорту." %}
        </p>
        <a class="btn-blog" href="#">{% trans "Читати більше" %}</a>
      </div>
      <div class="blog-card">
        <img src="{% static 'app/images/auto-park-img/park-block-7-2.webp' %}" alt="img-blog">
        <h2 class="title-blog">
          {% trans "Технології в дії: як електротаксі змінюють правила гри" %}
        </h2>
        <p class="description-blog">
          {% trans "Електротаксі - це новий вимір мобільності, " %}
          {% trans "який змінює правила гри в транспортній індустрії." %}
        </p>
        <a class="btn-blog" href="#">{% trans "Читати більше" %}</a>
      </div>
    </div>
  </div>
</section>