{% load static %}
{% load i18n %}
<form class="contact-me-section" id="contact-me-form">
  <div class="container">
    <div class="title-form">
      <button id="close-form-contact" class="close-button">×</button>
      <h2>{% trans "Зв’яжіться зі мною" %}</h2>
      <p>{% trans "Заповніть форму та наш менеджер зв'яжеться з Вами" %}</p>
    </div>
    <div id="contact-form">
      <div class="client-name">
        {{ contact_form.name }}
        <span class="error-name error-message"
              style="color: red; display: none;">{% trans "Це поле обов'язкове" %}</span>
      </div>

      <div class="client-phone">
        {{ contact_form.phone }}
        <span class="error-phone error-message"
              style="color: red; display: none;">{% trans "Це поле обов'язкове" %}</span>
      </div>

      <div class="client-email">
        {{ contact_form.email }}
        <span class="error-email error-message"
              style="color: red; display: none;">{% trans "Це поле обов'язкове" %}</span>
      </div>
      <button class="contact-client" type="submit">{% trans "Зв’язатися з нами" %}</button>
    </div>
  </div>
</form>
