{% load static %}
{% load i18n %}
<section class="free-access-section" id="free-access-form">
  <div class="container">
    <button id="close-form-access" class="close-button">×</button>
    <h2>{% trans "Отримати безкоштовний доступ на місяць" %}</h2>
    <p>{% trans "Заповніть форму та наш менеджер зв'яжеться з Вами" %}</p>
    <form id="access-form">
      {% csrf_token %}
      <input type="text" id="name" name="name" placeholder="{% trans "Ваше ім'я*" %}"><br>
      <span class="error-name">{% trans "Ім'я обовязкове!" %}</span><br>
      <input type="tel" id="phone" name="phone" placeholder="{% trans 'Ваш номер телефону*' %}"><br>
      <span class="error-message">{% trans "Не вірний формат номеру" %}</span><br>
      <input type="submit" value="{% trans 'Отримати безкоштовний доступ' %}">
    </form>
  </div>
</section>