<div class="social_box">
  <a href="https://www.facebook.com/profile.php?id=100090958383203" target="_blank" aria-label="Facebook">
    <i class="fa fa-facebook" aria-hidden="true"></i>
  </a>
  <a href="https://www.linkedin.com/company/ninja-taxi" target="_blank" aria-label="LinkedIn">
    <i class="fa fa-linkedin" aria-hidden="true"></i>
  </a>
  <a href="https://www.instagram.com/ninja.taxi/" target="_blank" aria-label="Instagram">
    <i class="fa fa-instagram" aria-hidden="true"></i>
  </a>
</div>
