{% extends 'index.html' %}
{% load static %}
{% load i18n %}
<!-- charging-station -->
{% block content %}

  <section class="charging-station-section">
    <div class="container">
      <div class="charging-left-images">
        <img class="image-map" src="{% static 'app/images/charging-station/charging-block-1.png' %}" alt="one image">
      </div>
      <div class="charging-right-content">
        <div class="decorate-img">
          <img src="{% static 'app/images/index-one-block-3.webp' %}" alt="three image">
          <div class="one-info">
            <h2>{% trans "ninja ЗАРЯДКИ" %}</h2>
            <p class="text-1">
              {% trans "- це швидкий, зручний та екологічно-чистий спосіб заряджати ваш електромобіль. " %}
              {% trans "З NINJA TAXI ви можете рухатися вперед у майбутнє без зайвих затримок." %}
            </p>
          </div>
        </div>
        <div class="contact-me-btn">
          <button class="free-access-button">{% trans "Дізнатись більше" %}</button>
        </div>
      </div>
    </div>
  </section>

  <section class="charging-two-section">
    <div class="container">
      <div class="why-us-title">
        <h2>{% trans "прямуй прямо до цілі. Вже сьогодні" %}</h2>
      </div>
      <section class="splide charging-slider" aria-label="">
        <div class="splide__track">
          <ul class="splide__list">
            <li class="splide__slide">
              <div class="why-us-card why-us-card-first">
                <div class="container-card">
                  <img src="{% static 'app/images/charging-station/charging-block-2-1.png' %}" alt="">
                  <h3 class="title-card">{% trans "Безпека" %}</h3>
                  <p class="description-card">
                    {% trans "Наші зарядні станції  мають захист від перенапруги та системи ізоляції, " %}
                    {% trans "що запобігають пошкодженню електроніки електромобіля." %}
                  </p>
                </div>
              </div>
            </li>
            <li class="splide__slide">
              <div class="why-us-card">
                <div class="container-card">
                  <img src="{% static 'app/images/charging-station/charging-block-2-2.png' %}" alt="">
                  <h3 class="title-card">{% trans "Швидкість" %}</h3>
                  <p class="description-card">
                    {% trans "Наші швидкісні зарядні станції можуть зарядити Ваш електрокар з 0 до 80 за 60 хвилин" %}
                  </p>
                </div>
              </div>
            </li>
            <li class="splide__slide">
              <div class="why-us-card">
                <div class="container-card">
                  <img src="{% static 'app/images/charging-station/charging-block-2-3.png' %}" alt="">
                  <h3 class="title-card">{% trans "Вид зарядної станції" %}</h3>
                  <p class="description-card">
                    {% trans "Наша зарядна станція - 40 kWt GBT/DC" %}
                  </p>
                </div>
              </div>
            </li>
            <li class="splide__slide">
              <div class="why-us-card">
                <div class="container-card">
                  <img src="{% static 'app/images/charging-station/charging-block-2-4.png' %}" alt="">
                  <h3 class="title-card">{% trans "Ми завжди на зв’язку" %}</h3>
                  <p class="description-card">
                    {% trans "Якщо у Вас виникнуть питання - ми завжди з Вами на зв’язку" %}
                  </p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </section>
      <div class="box-btn">
        <button class="free-access-button invest-btn">{% trans "Співпрацювати" %}</button>
      </div>
    </div>
  </section>

  <section class="charging-station-section-3">
    <div class="container">
      <div class="charging-station">
        <div class="charging-station-description">
          <h2>{% trans "Абонемент NINJA charger" %}</h2>
          <p>
            {% trans "Економте на зарядці електрокара! Найнижчі ціни по всій " %}
            {% trans "Україні з нашим абонементом на швидку зарядку." %}
          </p>
        </div>
        <div class="buttons-box">
          <button class="free-access-button">{% trans "Дізнатися подробиці" %}</button>
        </div>
      </div>
      <div class="img-box">
        <img class="img-1" src="{% static 'app/images/charging-station/charging-block-3.png' %}" alt="" loading="lazy">
      </div>
    </div>
  </section>

  <section class="charging-station-section-6">
    <div class="container">
      <div class="charging-station">
        <div class="charging-station-description">
          <h2>{% trans "Зарядні станції NINJA для інвесторів" %}</h2>
          <p>
            {% trans "NINJA TAXI пропонує інвесторам вигідні умови співпраці. Ми забезпечуємо доступ до " %}
            {% trans "зарядних станцій NINJA для електрокарів за половину ціни в порівнянні з іншими станціями. " %}
            {% trans "Це дозволяє надавати вигідні умови для водіїв і уникнути зайвого потоку кандидатів. " %}
            {% trans "Кожен водій може експлуатувати автомобіль до його повного окупування." %}
          </p>
        </div>
        <div class="buttons-box">
          <button class="free-access-button">{% trans "Дізнатися подробиці співпраці" %}</button>
        </div>
      </div>
      <div class="img-box">
        <img class="img-1" src="{% static 'app/images/charging-station/charging-block-6.png' %}" alt=""
             loading="lazy">
        <a data-youtube href="https://www.youtube.com/watch?v=2A-H4y3zkPk" title="Натисніть для запуску відео"></a>
      </div>
    </div>
  </section>

  <section class="charging-station-section-4">
    <div class="container">
      <div class="img-box">
        <img class="img-1" src="{% static 'app/images/charging-station/charging-block-4.png' %}" alt=""
             loading="lazy">
      </div>
      <div class="charging-station-map">
        <div class="charging-station-description">
          <h2>{% trans "Розташування NINJA ЗАРЯДОК" %}</h2>
          <p>{% trans "Зарядні станції NINJA розташовані в Києві. Ви можете знайти наші зарядні станції на карті" %}</p>
        </div>
      </div>
    </div>
  </section>

  <section class="charging-station-section-5">
    <div class="container">
      <div class="how-to-charge">
        <div>
          <h2>{% trans "Як зарядити Електрокар" %}</h2>
          <ul>
            <li>{% trans "Завантажити застосунок  ECOFACTOR" %}</li>
            <li>{% trans "Зареєструйтесь у додатку" %}</li>
            <li>{% trans "Поповнити гаманець в застосунку" %}</li>
            <li>{% trans "Розпочати зарядку" %}</li>
            <li>{% trans "Під’єднайте електрокар" %}</li>
            <li>{% trans "Відскануйте QR-код" %}</li>
            <li>{% trans "Почніть зарядку" %}</li>
          </ul>
          <div class="images-box">
            <a href="https://play.google.com/store/apps/details?id=eu.ecofactor&hl=ru&gl=US&pli=1">
              <img class="img-1" src="{% static 'app/images/charging-station/charging-block-5-1.webp' %}" alt=""
                   loading="lazy">
            </a>
            <a href="https://apps.apple.com/ua/app/ecofactor-network/id1438716797?l=">
              <img class="img-1" src="{% static 'app/images/charging-station/charging-block-5-2.webp' %}" alt=""
                   loading="lazy">
            </a>
          </div>
        </div>
      </div>
      <div class="img-box">
        <img class="img-1" src="{% static 'app/images/charging-station/charging-block-5-3.webp' %}" alt=""
             loading="lazy">
      </div>
    </div>
  </section>

  <div id="subscribeModalForm"></div>

  {#  {% include '_blog_box.html' %}#}
  {% include '_contact-me-form.html' %}
  {% include '_thank-you-message.html' %}
  {% include '_existing-you-message.html' %}

{% endblock %}