{% extends 'index.html' %}
{% load static %}
{% load i18n %}
<!-- charging-station -->
{% block content %}
  <section class="price-header-section">
    <div class="container">
      <div class="price-header-left">
        <img class="price-header-img" src="/static/app/images/price-img/price-block-1.png" alt="one image">
      </div>
      <div class="price-header-right">
        <div class="decorate-img">
          <img src="/static/app/images/index-one-block-3.webp" alt="three image">
        </div>
      </div>
    </div>
  </section>

  <section class="price-package-section">
    <div class="container">
      <div class="price-packages">
        <div class="package">
          <div class="package-header">
            <h3 class="package-title">{% trans "“Професійний Керівник”" %}</h3>
            <p class="package-parcent">{% trans "1%" %}</p>
          </div>
          <ul class="package-list">
            <li class="package-item">{% trans "Автоматична звітність по агрегаторам за день, тиждень, місяць, рік" %}</li>
            <li class="package-item">{% trans "Автозняття грошей з гаманців водіїв в агрегаторі Uklon" %}</li>
            <li class="package-item">{% trans "Встановлення ліміту готівки у водія під час роботи" %}</li>
            <li class="package-item">{% trans "Автоматичний розрахунок заробітної плати водієві" %}</li>
            <li class="package-item">{% trans "Візуалізація позмінного графіку роботи водіїв" %}</li>
            <li class="package-item">{% trans "Повідомлення менеджеру про початок роботи водія" %}</li>
            <li class="package-item">{% trans "Автоматична зведена звітність" %}</li>
            <li class="package-item">{% trans "Статистика по водію" %}</li>
            <li class="package-item">{% trans "Автоматичний розрахунок холостого пробігу" %}</li>
            <li class="package-item">{% trans "Статистика по автомобілю" %}</li>
          </ul>
          <div class="package-btn">
            <button class="free-access-button consult-btn">{% trans "Проконсультуватися" %}</button>
            <button class="free-access-button">{% trans "Отримати безкоштовнйи доступ на місяць" %}</button>
          </div>
        </div>

        <div class="package">
          <div class="package-header">
            <h3 class="package-title">{% trans "“Оптимізований автопарк”" %}</h3>
            <p class="package-parcent">{% trans "2%" %}</p>
          </div>
          <ul class="package-list">
            <li class="package-item">{% trans "Автоматична звітність по агрегаторам за день, тиждень, місяць, рік" %}</li>
            <li class="package-item">{% trans "Автозняття грошей з гаманців водіїв в агрегаторі Uklon" %}</li>
            <li class="package-item">{% trans "Встановлення ліміту готівки у водія під час роботи" %}</li>
            <li class="package-item">{% trans "Автоматичний розрахунок заробітної плати водієві" %}</li>
            <li class="package-item">{% trans "Візуалізація позмінного графіку роботи водіїв" %}</li>
            <li class="package-item">{% trans "Повідомлення менеджеру про початок роботи водія" %}</li>
            <li class="package-item">{% trans "Автоматичний розрахунок холостого пробігу" %}</li>
            <li class="package-item">{% trans "Автоматична зведена звітність" %}</li>
            <li class="package-item">{% trans "Статистика по водію" %}</li>
            <li class="package-item">{% trans "Статистика по автомобілю" %}</li>
          </ul>
          <div class="package-btn">
            <button class="free-access-button consult-btn">{% trans "Проконсультуватися" %}</button>
            <button class="free-access-button">{% trans "Отримати безкоштовнйи доступ на місяць" %}</button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="price-progress-section">
    <div class="container">
      <h2 class="price-progress-title">{% trans "Розвиток вашого бізнесу. Щодня." %}</h2>
      <div class="price-progress-cards">
        <div class="price-progress-card">
          <div class="price-progress-img">
            <img src="/static/app/images/price-img/price-block-3-1.png" alt="two image">
          </div>
          <div class="price-progress-text">
            <h3 class="price-progress-card-title">{% trans "Безпека" %}</h3>
            <p class="price-progress-card-description">
              {% trans "Протоколи шифрування за галузевим стандартом і сумісні з GDPR" %}
            </p>
          </div>
        </div>

        <div class="price-progress-card">
          <div class="price-progress-img">
            <img src="/static/app/images/price-img/price-block-3-2.png" alt="two image">
          </div>
          <div class="price-progress-text">
            <h3 class="price-progress-card-title">{% trans "Прозорість" %}</h3>
            <p class="price-progress-card-description">
              {% trans "Співпрацюємо без прихованих комісій." %}
            </p>
          </div>
        </div>

        <div class="price-progress-card">
          <div class="price-progress-img">
            <img src="/static/app/images/price-img/price-block-3-3.png" alt="two image">
          </div>
          <div class="price-progress-text">
            <h3 class="price-progress-card-title">{% trans "Швидкість" %}</h3>
            <p class="price-progress-card-description">
              {% trans "Оптимізація роботи менеджерів - розширення  автопарку" %}
            </p>
          </div>
        </div>

        <div class="price-progress-card">
          <div class="price-progress-img">
            <img src="/static/app/images/price-img/price-block-3-4.png" alt="two image">
          </div>
          <div class="price-progress-text">
            <h3 class="price-progress-card-title">{% trans "Ми тут для Вас" %}</h3>
            <p class="price-progress-card-description">
              {% trans "Ми пропонуємо необмежену підтримку під час співпраці" %}
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="price-free-section">
    <div class="container">
      <div class="price-free">
        <h3>{% trans "Спробуйте DEMO-ВЕРСІЮ" %}</h3>
        <p>
          {% trans "Почніть приймати справедливі рішення, маючи доступ до даних, " %}
          {% trans "доходів, профілів і історії роботи Ваших водіїв." %}
        </p>
        <ul>
          <li>{% trans "Додайте агрегатори" %}</li>
          <li>{% trans "Підключіть GPS" %}</li>
          <li>{% trans "Оновіть базу водіїв" %}</li>
          <li>{% trans "Розпочніть роботу" %}</li>
        </ul>
        <div class="btn-box">
          <button class="free-access-button">{% trans "Отримати пробну версію" %}</button>
        </div>
      </div>
      <div class="img-box">
        <img class="img-1" src="{% static 'app/images/price-img/price-block-4.png' %}" alt="" loading="lazy">
        <a data-youtube href="https://www.youtube.com/watch?v=earw5rMaB_Q" title="Натисніть для запуску відео"></a>
      </div>
    </div>
  </section>
  <div id="subscribeModalForm"></div>
  {% include '_free-access-form.html' %}
  {% include '_thank-you-message.html' %}
  {% include '_existing-you-message.html' %}
{% endblock %}