{% load static %}
{% load i18n %}
<form method="post" id="bolt-confirmation-form" action="choose-driver" novalidate>
  {% csrf_token %}
  <div class="title-form title-bolt-confirmation">
    <h2>{% trans "Уточнення по виплаті" %}</h2>
    <span class="modal-payments-date"></span>
    <span class="shift-close-btn">
      <i class="fas fa-times"></i>
    </span>
  </div>
  <div class="bolt-amount-cash">
    <div class="bolt-amount">
      <label for="bolt-amount">
            <span class="main-label">{% trans "Каса" %}</span><span class="bolt-label">Bolt</span>
      </label>
      <input type="text" id="bolt-amount" placeholder="100.00">
      <span class="text-danger small pl-4" id="bolt-amount-error"></span>
    </div>
    <div class="bolt-cash">
      <label for="bolt-cash">
            <span class="main-label">{% trans "Готівка" %}</span><span class="bolt-label">Bolt</span>
      </label>
      <input type="text" id="bolt-cash" placeholder="100.00">
      <span class="text-danger small pl-4" id="bolt-cash-error"></span>
    </div>
  </div>
  <button class="bolt-confirm-button">Перерахувати виплату</button>
</form>