{% load static %}
{% load i18n %}
<form method="post" id="modal-add-bonus" action="add-bonus" novalidate>
  {% csrf_token %}
  <div class="title-form">
    <h2>{% trans "Додавання бонуса" %}</h2>
    <span class="modal-payments-date"></span>
    <span class="shift-close-btn">
      <i class="fas fa-times"></i>
    </span>
  </div>
  <div class="bonus-payments">
    <div class="bonus-field">
      {{ bonus_form.amount.label_tag }}
      {{ bonus_form.amount }}
      <span class="text-danger small pl-4" id="amount-bonus-error"></span>
    </div>

    <div class="bonus-category-field">
      {{ bonus_form.category.label_tag }}
      {{ bonus_form.category }}
      <span class="text-danger small pl-4" id="category-bonus-error"></span>
    </div>
  </div>

  <div class="new-category">
    <div class="new-category-field">
      {{ bonus_form.new_category.label_tag }}
      {{ bonus_form.new_category }}
      <span class="text-danger small pl-4" id="new_category-bonus-error"></span>
    </div>
  </div>
  <div class="bonus-vehicle">
    <div class="bonus-vehicle-licence-plate">
      {{ bonus_form.vehicle.label_tag }}
      {{ bonus_form.vehicle }}
      <span class="text-danger small pl-4" id="vehicle-bonus-error"></span>
    </div>

    <div class="bonus-description-field">
      {{ bonus_form.description.label_tag }}
      {{ bonus_form.description }}
    </div>
  </div>
  <div class="bonus-btn-box">
    <button id="add-bonus-btn">{% trans "Додати" %}</button>
  </div>
</form>
