{% load static %}
{% load i18n %}
<form method="post" id="passwordForm" action="change-password" novalidate>
    {% csrf_token %}
    <div class="title-form">
        <div>
            <span class="head-title">{% trans 'Зміна паролю' %}</span><br>
            <span class="context-title">{% trans 'Після зміни пароля потрібно перезайти.' %}</span>
        </div>
        <span class="shift-close-btn">
          <svg width="24" height="24" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M27 2.59668L15 14.9938M3 27.3909L15 14.9938M15 14.9938L3 2.59668L27 27.3909" stroke="white" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
      </span>
    </div>
    <div class="passwordBodyForm">
        <label for="oldPassword">{% trans 'Старий пароль:' %}</label>
        <input type="password" id="oldPassword" name="oldPassword" required>
        <p class="error-message" id="oldPasswordMessage" style="display:none; color: red">{% trans 'Вказано неправильний пароль' %}</p>
        <label for="newPassword">{% trans 'Новий пароль:' %}</label>
        <input type="password" id="newPassword" name="newPassword" required>
        <p class="error-message" id="ChangeErrorMessage" style="display:none; color: red">{% trans 'Пароль не співпадає' %}</p>
        <p class="error-message" id="EmptyPasswordError" style="display:none; color: red">{% trans 'Пароль не може бути пустим' %}</p>
        <label for="confirmPassword">{% trans 'Підтвердити новий пароль:' %}</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required>

        <button id="submitPassword" type="button">{% trans 'Змінити пароль' %}</button>
    </div>
</form>