{% load i18n %}
<div class="confirmation-update-database">
  <div class="container">
    <div class="confirmation-box">
      <h2>{% trans "Бажаєте оновити базу даних?" %}</h2>
      <input type="text" id="amount" style="display: none" placeholder="1000.00">
      <div class="btn-box">
        <button class="confirmation-btn-on" id="confirmation-btn-on">{% trans "Так" %}</button>
        <button class="confirmation-btn-off" id="confirmation-btn-off">{% trans "Ні" %}</button>
      </div>
    </div>
  </div>
</div>