{% load static %}
{% load i18n %}
<!-- Content -->
{% block content %}
    <div class="title-driver">
      <h2>{% trans 'Ефективність Водіїв' %}</h2>
      <h2 class="income-drivers-date"></h2>
    </div>
    <div class="filter-efficiency">
    {% include 'dashboard/filter.html' %}
      <div class="filter-aggregators">
        <div class="checkbox-container">
          <input type="checkbox" id="sharedCheckbox" name="shared" value="shared" checked>
          <label for="sharedCheckbox">{% trans 'Спільне' %}</label>

          <input type="checkbox" id="uberCheckbox" name="Uber" value="Uber">
          <label for="uberCheckbox">{% trans 'Uber' %}</label>

          <input type="checkbox" id="uklonCheckbox" name="Uklon" value="Uklon">
          <label for="uklonCheckbox">{% trans 'Uklon' %}</label>

          <input type="checkbox" id="boltCheckbox" name="Bolt" value="Bolt">
          <label for="boltCheckbox">{% trans 'Bolt' %}</label>
        </div>
      </div>
    </div>
    {% include 'dashboard/datepicker.html' %}

    <div class="table-container">
      <table class="driver-efficiency-table">
        <thead>
        <tr class="table-header">
          <th class="sortable" data-sort="driver">{% trans 'Водій' %}</th>
          <th class="sortable" data-sort="fleet">{% trans 'Агрегатор' %}</th>
          <th class="sortable" data-sort="kasa">{% trans 'Каса' %}</th>
          <th class="sortable" data-sort="order_accepted">{% trans 'Виконано замовлень' %}</th>
          <th class="sortable" data-sort="order_rejected">{% trans 'Кількість відмов' %}</th>
          <th class="sortable" data-sort="price">{% trans 'Середній чек, грн' %}</th>
          <th class="sortable" data-sort="mileage">{% trans 'Пробіг, км' %}</th>
          <th class="sortable" data-sort="idling-mileage">{% trans 'Холостий пробіг, км' %}</th>
          <th class="sortable" data-sort="efficiency">{% trans 'Ефективність, грн/км' %}</th>
          <th class="sortable" data-sort="road">{% trans 'Час в дорозі' %}</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  <div class="driver-container"></div>
{% endblock %}


