<!DOCTYPE html>
{% load static %}
{% load i18n %}
{% include 'dashboard/dashboard-header-sidebar.html' %}

<!-- Main Manager-->
<main class="main-container">
  <div class="main-title">
    <h2>{% trans 'Інформаційна панель' %}</h2>
  </div>
  {% include 'dashboard/filter.html' %}
  {% include 'dashboard/datepicker.html' %}
  <div class="main-cards">
    {% if investor_group %}
      <div class="card">
        <h2>{% trans 'Загальний дохід' %}</h2>
        <span class="weekly-income-amount"></span>
      </div>
      <div class="card">
        <h2>{% trans 'Загальний пробіг' %}</h2>
        <span class="income-km"></span>
      </div>
      <div class="card">
        <h2>{% trans 'Загальні витрати на авто' %}</h2>
        <span class="spending-all"></span>
      </div>
    {% else %}
      <div class="card">
        {% if partner_group %}
          <div class="title-card">
            <h2>{% trans 'Дохід &#128184;' %}</h2>
          </div>
          <div class="custom-dropdown-card">
            <h3>{% trans 'Загальний' %}</h3>
            <span class="weekly-income-amount"></span>
          </div>
          <div class="custom-dropdown-card">
            <h3>{% trans 'Чистий' %}</h3>
            <span class="weekly-clean-amount"></span>
          </div>
          <div class="custom-dropdown-card">
            <h3>{% trans 'За холостий пробіг' %}</h3>
            <span class="rent-earning"></span>
          </div>
          <div class="custom-dropdown-card">
            <h3 class="not-closed">{% trans 'Не закриті виплати' %}<br>
              <span>{% trans 'Список не закритих виплат' %} &#128064;</span>
            </h3>
            <span class="not-closed-payments"></span>
          </div>
        {% else %}
          <div class="custom-dropdown-card">
            <h3>{% trans 'Загальний' %}</h3>
            <span class="weekly-income-amount"></span>
          </div>
        {% endif %}
      </div>
      <div class="card">
        {% if partner_group %}
          <div class="title-card">
            <h2>{% trans 'Витрати  &#128184;' %}</h2>
          </div>
          <div class="custom-dropdown-card">
            <h3>{% trans 'Витрати водія' %}</h3>
            <span class="weekly-spending-driver"></span>
          </div>
          <div class="custom-dropdown-card">
            <h3>{% trans 'Витрати автомобіля' %}</h3>
            <span class="weekly-spending-vehicle"></span>
          </div>
        {% endif %}
      </div>
      <div class="card">
        <div class="title-card">
          <h2>{% trans 'Пробіг' %}</h2>
        </div>
        <div class="custom-dropdown-card">
          <h3>{% trans 'Холостий' %}</h3>
          <span class="weekly-income-rent"></span>
        </div>
        <div class="custom-dropdown-card">
          <h3>{% trans 'Холостий не виплачений' %}</h3>
          <span class="unpaid-rent"></span>
        </div>
        <div class="custom-dropdown-card">
          <h3>{% trans 'Загальний' %}</h3>
          <span class="income-km"></span>
        </div>
      </div>
      <div class="card">
        <div class="title-card">
          <h2>{% trans 'Ефективність' %}</h2>
        </div>
        <div class="custom-dropdown-card">
          <h3>{% trans 'Середня ефективність автомобілів' %}</h3>
          <span class="income-efficiency"></span>
        </div>
      </div>
    {% endif %}
  </div>
  <div class="charts">
    {% if investor_group %}
      <div class="charts-card">
        <h2 class="chart-title">{% trans 'Дохід' %}</h2>
        <div class="noDataMessage1" style="display: none;">{% trans "За обраний період відсутні дані." %}</div>
        <div id="investor-bar-chart" style="width: 100%; height: 600px;"></div>
      </div>
      <div class="charts-card">
        <h2 class="chart-title">{% trans 'Пробіг автомобіля' %}</h2>
        <div class="noDataMessage2" style="display: none;">{% trans "За обраний період відсутні дані." %}</div>
        <div id="investor-area-chart" style="width: 100%; height: 600px;"></div>
      </div>
    {% else %}
      <div class="charts-card">
        <h2 class="chart-title">{% trans 'Доходи водіїв' %}</h2>
        <span class="weekly-income-dates"></span>
        <div class="noDataMessage1" style="display: none;">{% trans "За обраний період відсутні дані." %}</div>
        <div id="bar-chart" style="width: 100%; height: 600px;"></div>
      </div>
      <div class="charts-card">
        <h2 class="chart-title">{% trans 'Доходи автомобілів' %}</h2>
        <span class="weekly-income-dates"></span>
        <div class="noDataMessage1" style="display: none;">{% trans "За обраний період відсутні дані." %}</div>
        <div id="vehicle-bar-chart" style="width: 100%; height: 600px;"></div>
      </div>
      <div class="charts-card">
        <h2 class="chart-title">{% trans 'Ефективність автомобіля' %}</h2>
        <span class="weekly-income-dates"></span>
        <div class="car-select">
          <div class="custom-dropdown">
            <div class="selected-option" id="selected-vehicle">
              <span>{% trans 'Виберіть авто' %}</span>
              <i class="fas fa-angle-down"></i>
            </div>
            <ul class="dropdown-options" id="vehicle-options">
              {% for vehicle in get_vehicle_eff %}
                <li data-value="{{ vehicle.id }}">{{ vehicle }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>

        <div class="noDataMessage2" style="display: none;">{% trans "За обраний період відсутні дані." %}</div>
        <div id="area-chart" style="width: 100%; height: 600px;"></div>
      </div>
      <div class="charts-card">
        <h2 class="chart-title">{% trans 'Середня ефективність автомобіля' %}</h2>
        <span class="weekly-income-dates"></span>
        <div class="noDataMessage1" style="display: none;">{% trans "За обраний період відсутні дані." %}</div>
        <div id="bar-three-chart" style="width: 100%; height: 600px;"></div>
      </div>
      <div class="charts-card">
        <h2 class="chart-title">{% trans 'Пробіг автомобіля' %}</h2>
        <span class="weekly-income-dates"></span>
        <div class="noDataMessage2" style="display: none;">{% trans "За обраний період відсутні дані." %}</div>
        <div id="partner-area-chart" style="width: 100%; height: 600px;"></div>
      </div>
    {% endif %}
  </div>

  <div class="modal-not-closed-payments">
    <div class="modal-content">
      <div class="modal-header">
        <h2>{% trans 'Не закриті виплати' %}</h2>
        <span class="shift-close-btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
              <path d="M26.5 2L14.25 14.25M2 26.5L14.25 14.25M14.25 14.25L2 2L26.5 26.5" stroke="white" stroke-width="3"
                    stroke-linejoin="round"></path>
            </svg>
          </span>
      </div>
      <div class="modal-body">
        <div class="not-closed-payments-table">
          <table class="driver-table">
            <thead>
            <tr class="tr-driver-title">
              <th class="sortable" data-sort="driver">{% trans 'Водій' %}</th>
              <th class="sortable" data-sort="amount">{% trans 'Сума' %}</th>
            </tr>
            </thead>
            <tr>
              <td></td>
              <td></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  {% include 'dashboard/_confirmation-update-database.html' %}
  {#  {% include 'dashboard/forms/_password-change-form.html' %}#}
  {#  {% include 'dashboard/forms/_aggregator-form.html' %}#}
</main>
<!-- End Main Manager-->
</div>

<!-- Scripts -->
<script>
	const DriverDailyEarnings = {{ driver_daily_earnings|safe }};
	const BusinessVehicleEfficiency = {{ business_vehicle_efficiency|safe }};
	const ComfortVehicleEfficiency = {{ comfort_vehicle_efficiency|safe }};
</script>
<!-- ApexCharts -->
<script src="https://cdn.jsdelivr.net/npm/echarts@5.4.3/dist/echarts.min.js"></script>
{% if investor_group %}
  <script src="{% static 'dashboard/js/scripts-investor.js' %}?v={{ build_id }}" defer></script>
{% else %}
  <script src="{% static 'dashboard/js/scripts-partner.js' %}?v={{ build_id }}" defer></script>
{% endif %}
</body>
</html>
