{% load static %}
{% load i18n %}

<!-- Content -->
{% block content %}
    <div class="title-driver">
      <h2>{% trans 'Виплати водіям' %}</h2>
      <button class="create-payment"><span>{% trans 'Створити виплату' %}</span></button>
    </div>
    <div class="radio-btn-box">
      <input type="radio" id="on_inspection" name="payment-status" value="on_inspection">
      <label for="on_inspection">{% trans 'На перевірці' %}</label>
      <input type="radio" id="not_closed" name="payment-status" value="not_closed">
      <label for="not_closed">{% trans 'Не закриті' %}</label>
      <input type="radio" id="closed" name="payment-status" value="closed">
      <label for="closed">{% trans 'Закриті' %}</label>
    </div>
    {% include 'dashboard/filter.html' %}
  {% include 'dashboard/datepicker.html' %}
    <div class="table-container">
      <table class="driver-table">
        <thead>
        <tr class="tr-driver-title">
          <th class="sortable" data-sort="period">{% trans 'Період виплати' %}</th>
          <th class="sortable" data-sort="driver">{% trans 'Водій' %}</th>
          <th class="sortable" data-sort="kasa">{% trans 'Каса' %}</th>
          <th class="sortable" data-sort="cash">{% trans 'Готівка' %}</th>
          <th class="sortable" data-sort="rent">{% trans 'Холостий пробіг' %}</th>
          <th class="sortable" data-sort="bonus">{% trans 'Бонуси' %}</th>
          <th class="sortable" data-sort="fines">{% trans 'Штрафи' %}</th>
          <th class="sortable" data-sort="driver-rate">{% trans '% водія' %}</th>
          <th class="sortable" data-sort="earning">{% trans 'Виплата' %}</th>
          <th class="sortable" data-sort="status">{% trans 'Розрахунок виплат' %}</th>
          <th class="sortable" data-sort="button">
            <button class="send-all-button">{% trans 'Відправити звіт водіям' %}</button>
          </th>
        </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  <div id="formContainer"></div>
  {% include 'dashboard/forms/_payment-driver-list.html' %}
  {% include 'dashboard/forms/_bolt-confirmation-form.html' %}

{% endblock %}

