<!DOCTYPE html>
{% load static %}
{% load i18n %}
{% include 'dashboard/dashboard-header-sidebar.html' %}
<!-- Content -->
<main class="main-container">

  <div class="driver-header">
    <div class="driver-radio-buttons">
      <input type="radio" id="driver-list-radio" name="driver-info" value="driver-list">
      <label for="driver-list-radio">{% trans "Список водіїв" %}</label>

      <input type="radio" id="driver-efficiency-radio" name="driver-info" value="driver-efficiency">
      <label for="driver-efficiency-radio">{% trans "Ефективність водіїв" %}</label>

      <input type="radio" id="driver-payments-radio" name="driver-info" value="driver-payments">
      <label for="driver-payments-radio">{% trans "Виплати водіїв" %}</label>
    </div>
  </div>
  <div class="info-driver">
    {% block content %}
      {% include 'dashboard/driver-list.html' %}
    {% endblock %}
  </div>
  {% include 'dashboard/_confirmation-update-database.html' %}
</main>
</div>

{% block js %}

  <script src="{% static 'dashboard/js/scripts-drivers.js' %}?v={{ build_id }}" defer></script>
  <script src="{% static 'dashboard/js/driver-efficiency.js' %}?v={{ build_id }}" defer></script>
  <script src="{% static 'dashboard/js/scripts-payments.js' %}?v={{ build_id }}" defer></script>
{% endblock %}

</body>
</html>