{% load static %}
{% load i18n %}
<div class="filter">
  <label for="period">{% trans 'Виберіть період:' %}</label>
  <div class="custom-select" id="period">
    <span class="selected-option">{% trans 'Сьогодні' %}</span>
    <i class="fas fa-angle-down"></i>
    <ul class="options">
      <li data-value="today">{% trans 'Сьогодні' %}</li>
      <li data-value="yesterday">{% trans 'Вчора' %}</li>
      <li data-value="current_week">{% trans 'Поточний тиждень' %}</li>
      <li data-value="last_week">{% trans 'Минулий тиждень' %}</li>
      <li data-value="current_month">{% trans 'Поточний місяць' %}</li>
      <li data-value="last_month">{% trans 'Минулий місяць' %}</li>
      <li data-value="current_quarter">{% trans 'Поточний квартал' %}</li>
      <li data-value="last_quarter">{% trans 'Минулий квартал' %}</li>
      <li data-value="custom">{% trans 'Вибрати період >' %}</li>
    </ul>
  </div>
</div>
<span class="weekly-income-dates"></span>
